<div class="navbar">
    <ul class="nav navbar-nav">          
	    <li>
	    <%= form_for @flag_att, :url => { :action => "close_report" }, :html => {:class => 'out-margin'} do |f| %>
  			<%= f.submit "Cerrar Reporte", :class=> 'btn btn-mini btn-danger', data: { confirm: '¿Confirma el cierre del reporte?' } %>
		<% end %>
        </li>                        
    </ul>  
    <ul class="nav navbar-nav navbar-right">
    	<li>
    	<div>
    		<i class="icon-cloud-download"></i> <%= link_to 'Exportar', controller: "attentions", action: "download_report" %>
    	</div>
    	</li>    		
    </ul>
</div>