<table class='data-table table table-bordered table-striped table-condensed' style='margin-bottom:0;'>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>EQ's</th>
      <th style="width: 30px;"></th>
      <th style="width: 30px;"></th>
    </tr>
  </thead>

  <tbody>
    <% @model.each do |mo| %>
      <tr>
        <td><%= mo.subtype %></td>
        <td><%= mo.unity.count %></td>
        <td><%= link_to 'Seleccionar', mo, class: "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Eliminar', mo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>